body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding: 0 1rem;
}

.card {
  width: 40%;
  border-radius: 13px;
}

@media (max-width: 700px) {
  .card {
    width: 80%;
  }
}
